h1, h2, h3, h4, h5, h6, p, ul, a {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
	margin: 0;
    /*background-repeat: no-repeat;
    background-attachment: relative;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%); /* Firefox 3.6-15 */
	/*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(200,200,200,1) 100%); /* Chrome 10-25, Safari5.1-6 */
	/*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(200,200,200,1) 100%);*/
	font-family: 'Kadwa', serif;
	text-align: center;
}

body::-webkit-scrollbar-track
{
	margin:0;
}

body::-webkit-scrollbar
{
	width: 0px;
}

body::-webkit-scrollbar-thumb
{
	border-radius:0px;
}

.navlabels, .navlabels:link {
	font-size: 24px;
	color: #00bf6e;
	
	text-align: right;
	z-index: 2;
}

.navlabels:hover {
	text-decoration: underline;
}

.siteheader {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	background-color: orange;
	text-align: center;
}

.headerbordertop {
	position: absolute;
	height: 20%;
	width: 100%;
	background-color: rgba(255,255,255,1);
}

.headerborderbot {
	position: absolute;
	height: 20%;
	top: 70%;
	width: 100%;
	background-color: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%); /* Firefox 3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%); /* Chrome 10-25, Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 100%);
}

.siteMoto {
	font-size: 36px;
	color: white;
	z-index: 2;
}

.sitetitle {
	font-size: 144px;
	color: white;
	z-index: 2;
}



.botborder {
	position: absolute;
	top: 600px;
	height: 10%;
	width: 100%;
	bottom: 0;
	background-color: #00bf6e;
	
	display: flex;
}

.title {
	font-size: 48px;
	color: white;
}

.containerText {
	position: absolute;
	top: 700px;
	right: 0;	
	height: 3700px;
	text-align: left;
	padding: 50px 10%;
	background-color: orange;
}

.introText {
	font-size: 18px;
	color: white;
}

.emaillabel {
	font-size: 20px;
	color: rgba(240,240,240,1.00);
	padding: 5px 20px;
}

.emailinput {
	text-align: left;
	border-radius: 2px;
	border: 1px solid rgba(160, 160, 160, 1);
	background-color: rgba(255,255,255,1);
	color: rgba(20,20,20,1.00);
	padding: 6px 100px 6px 10px;
	transition: all 0.2s;
}

.emailinput::placeholder {
	color: rgba(120,120,120,1.00);
}

.emailbutton {
	font-size: 16px;
	margin: 0px 0px 0px 10px;
	padding: 6px 60px;
	border-radius: 2px;
	border: 0px;
	color: rgba(60,60,60,1.00);
	background-color: rgba(255,255,255,1.00);
	cursor: pointer;
}


.socialBlock {
	position: absolute;
	top: 4350px;
	right: 0;
	height: 400px; 
	width: 100%;
	
	background-color: #00bf6e; 
	padding: 3px 10%;
}

.footerBlock {
	position: absolute;
	top: 4750px;
	right: 0;
	background-color: #00bf6e; 
	height: 180px; 
	width: 100%;
	padding: auto 10%;"

}

.footertitle {
	color: rgba(120,120,120,1.00);
}

.footerlabels {
	font-size: 18px;
	color: rgba(90,90,90,1.00);
}

.footernotes {
	display: block;
	color: rgba(130,130,130,1.00);
	font-size: 24px;
}

.hidden {
  display: none;
  opacity: 0;
}

.show {
  display: block;
  opacity: 1;
}

.thankMessage {
	font-size: 20px;

}
